<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>service</servlet-name>
    <servlet-class>Servlet.service</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>leave</servlet-name>
    <servlet-class>Servlet.StuApplyLeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>oldpass</servlet-name>
    <servlet-class>Servlet.StuOldPassServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>aoldpass</servlet-name>
    <servlet-class>Servlet.AdmOldPassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectDorm</servlet-name>
    <servlet-class>Servlet.DormSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteStu</servlet-name>
    <servlet-class>Servlet.AdmDeleteStuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteLeave</servlet-name>
    <servlet-class>Servlet.DeleteLeaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>Servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>insert</servlet-name>
    <servlet-class>Servlet.AdmInsertStuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>cartInsert</servlet-name>
    <servlet-class>Servlet.AddCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orderInsert</servlet-name>
    <servlet-class>Servlet.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>lotInsert</servlet-name>
    <servlet-class>Servlet.AdmLotInsertStuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wrong</servlet-name>
    <servlet-class>Servlet.AdmInsertWrongServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dormService</servlet-name>
    <servlet-class>Servlet.DormInsertServiceServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>selectProductOrder</servlet-name>
    <servlet-class>Servlet.AdmSelectProductOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectService</servlet-name>
    <servlet-class>Servlet.AdmSelectServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectProduct</servlet-name>
    <servlet-class>Servlet.AdmSelectProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectLeave</servlet-name>
    <servlet-class>Servlet.LeaveSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>safeExit</servlet-name>
    <servlet-class>Servlet.SafeExitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkStuId</servlet-name>
    <servlet-class>Servlet.CheckStuIDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkProductOrder</servlet-name>
    <servlet-class>Servlet.CheckProductCountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectWrong</servlet-name>
    <servlet-class>Servlet.WrongSelectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectPrice</servlet-name>
    <servlet-class>Servlet.PriceSelectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changeService</servlet-name>
    <servlet-class>Servlet.AdmChangeServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changePhone</servlet-name>
    <servlet-class>Servlet.StuChangePhoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changeLeave</servlet-name>
    <servlet-class>Servlet.LeaveChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dormSelectList</servlet-name>
    <servlet-class>Servlet.DormSelectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>productSelectList</servlet-name>
    <servlet-class>Servlet.ProductSelectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>depaSelectList</servlet-name>
    <servlet-class>Servlet.DepaSelectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>majorSelectList</servlet-name>
    <servlet-class>Servlet.MajorSelectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gradeSelectList</servlet-name>
    <servlet-class>Servlet.GradeSelectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>roomSelectList</servlet-name>
    <servlet-class>Servlet.RoomSelectListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteService</servlet-name>
    <servlet-class>Servlet.DeleteServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exportMessage</servlet-name>
    <servlet-class>Servlet.ExportMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>acceptProductOrder</servlet-name>
    <servlet-class>Servlet.AdmAcceptOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>productInsert</servlet-name>
    <servlet-class>Servlet.AddProductServlet</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
  	<servlet-name>productInsert</servlet-name>
  	<url-pattern>/productInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>acceptProductOrder</servlet-name>
    <url-pattern>/acceptProductOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exportMessage</servlet-name>
    <url-pattern>/exportMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteService</servlet-name>
    <url-pattern>/deleteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>roomSelectList</servlet-name>
    <url-pattern>/roomSelectList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>depaSelectList</servlet-name>
    <url-pattern>/depaSelectList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>majorSelectList</servlet-name>
    <url-pattern>/majorSelectList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>gradeSelectList</servlet-name>
    <url-pattern>/gradeSelectList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dormSelectList</servlet-name>
    <url-pattern>/dormSelectList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>productSelectList</servlet-name>
    <url-pattern>/productSelectList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changePhone</servlet-name>
    <url-pattern>/changePhone</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changeLeave</servlet-name>
    <url-pattern>/changeLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changeService</servlet-name>
    <url-pattern>/changeService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectPrice</servlet-name>
    <url-pattern>/selectPrice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectWrong</servlet-name>
    <url-pattern>/selectWrong</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectLeave</servlet-name>
    <url-pattern>/selectLeave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectProductOrder</servlet-name>
    <url-pattern>/selectProductOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectService</servlet-name>
    <url-pattern>/selectService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectProduct</servlet-name>
    <url-pattern>/selectProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkProductOrder</servlet-name>
    <url-pattern>/checkProductOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkStuId</servlet-name>
    <url-pattern>/checkStuId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>aoldpass</servlet-name>
    <url-pattern>/aoldpass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>safeExit</servlet-name>
    <url-pattern>/safeExit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dormService</servlet-name>
    <url-pattern>/dormService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>service</servlet-name>
    <url-pattern>/service</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>leave</servlet-name>
    <url-pattern>/leave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>oldpass</servlet-name>
    <url-pattern>/oldpass</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>selectDorm</servlet-name>
    <url-pattern>/selectDorm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>deleteStu</servlet-name>
    <url-pattern>/deleteStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteLeave</servlet-name>
    <url-pattern>/deleteLeave</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>cartInsert</servlet-name>
    <url-pattern>/cartInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderInsert</servlet-name>
    <url-pattern>/orderInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>lotInsert</servlet-name>
    <url-pattern>/lotInsert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>wrong</servlet-name>
    <url-pattern>/wrongInsert</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
